body{
    background-image: linear-gradient(to left , #4E0FA6,#0597F2,#04B2D9,#05F2C7,#B6F2BF);
    background-image: url(foto/fundo4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center; 
}
main{
    background-color: white;
    width: 600px;
    margin: auto;
    border-radius: 9px;
}
input{
    background-color: rgb(219, 219, 219);
}
#fs,#fv{
    color: red;
    line-height:20px;
}
h2{
    background-color: darkgray;
    border-radius: 15px;
    height: 30px;
    width: 400px;
}
#d1{
    width: 100px;
    height: 75px;

    background-color: rgb(163, 163, 163);
    color: purple;
    border: 5px solid rgb(0, 0, 0);

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    transform: rotate(30deg);/*rotação*/
    -ms-transform:rotate(15deg);
}
#d2{
    width: 100px;
    height: 75px;

    background-color: rgb(233, 192, 192);
    color: rgb(0, 0, 0);
    border: 5px solid rgb(18, 5, 200);

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

   border-style: solid;
   border-width: thin;/*tamanho da borda*/
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.573);
   border-radius: 10px;
}
#d3{
    width: 100px;
    height: 75px;

    border-style: dashed;
    border-radius: 15px;
    background-color: darkgray;
    color: black;

    margin: auto;
    position: sticky;
}
#d4{
    width: 100px;
    height: 75px;

    background-color: darkblue;
    color: white;
    border: 5px solid rgb(242, 255, 5);

    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    border-style: dashed;
    border-width: thin;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.573);
    border-radius: 10px;

    animation: animação-gojo 3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

@keyframes animação-gojo {
    from{box-shadow:10px 10px 10px red;}
    to{box-shadow: 10px 10px 10px blue;}
 }

img{
    animation: yoshi 2s ease-in-out 0.5s infinite alternate forwards;
    
 }
@keyframes yoshi {
    from{transform: translateX(0);}
    to{transform: translateX(95px);}
    from{transform: translateX(-95px);}
 }

